<div id="<%= dom_id clinic %>">
  <p>
    <strong>Clinic:</strong>
    <%= clinic.clinic_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= clinic.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= clinic.address %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= clinic.number %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= clinic.year %>
  </p>

</div>
