<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<p style="color: lightseagreen"><%= notice %></p>
<div class="content has-text-centered">
  <h1 class="h1">Clinics</h1>
  <title> Clinics </title>
</div>

<div class="container is-widescreen has-text-centered is-center ">

  <% column_names = @clinics.column_names %>
  <div class="table-container is-align-items-center is-align-content-center is-justify-content-center is-centered" id="clinics">

    <%= form_with(url: searchByNames_clinics_path, method: :get) do |form| %>
      <%= form.text_field :name, placeholder: "Search by name" %>
      <%= form.submit "Search", class: "button is-primary" %>
    <% end %>

    <table class="table  is-centered">
      <thead>
      <tr>
        <% column_names.each do |column_name| %>
          <td><%= column_name %></td>
        <% end %>
        <td>Amount of repartments</td>
        <td>Amount of doctors</td>
        <td>Action</td>
      </tr>

      </thead>
      <tbody>

      <% @clinics.each do |clinic| %>
        <tr>
          <% column_names.each do |column| %>
            <td><%= clinic.send(column) %></td>
          <% end %>
          <td><%=clinic.repartments.count%></td>
          <td><%= clinic.doctors.count %></td>
          <td><%= link_to "Show this clinic", clinic %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div>
      <% if @page != 0 %>
        <%= link_to "Previous page", clinics_path(page: @page - 1), { class: "button" } %>
      <% end %>
      <% @all = Clinic.all
        if (@page+1)*10 < @all.length() %>
        <%= link_to "Next page", clinics_path(page: @page + 1), { class: "button" } %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "New clinic", new_clinic_path, { class: "button" } %>
<%= link_to "Download PFD", download_url, { class: "button" } %>
<%= link_to "Download CSV", downloadCsv_url, { class: "button" } %>