<div id="<%= dom_id medcard %>">
  <p>
    <strong>Medcard:</strong>
    <%= medcard.medcard_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= medcard.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= medcard.year %>
  </p>

  <p>
    <strong>Pacient:</strong>
    <%= medcard.pacient_id %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= medcard.clinic_id %>
  </p>

</div>
