<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<p style="color: lightseagreen"><%= notice %></p>
<div class="content has-text-centered">
  <h1 class="h1">Med certificates</h1>
  <title> Med certificates </title>
</div>

<div class="container is-widescreen has-text-centered is-center ">

  <% column_names = @med_certificates.column_names %>
  <div class="table-container is-align-items-center is-align-content-center is-justify-content-center is-centered" id="med_certificates">
    <table class="table  is-centered">
      <thead>
      <tr>
        <% column_names.each do |column_name| %>
          <td><%= column_name %></td>
        <% end %>
        <td>Action</td>
      </tr>

      </thead>
      <tbody>

      <% @med_certificates.each do |med_certificate| %>
        <tr>
          <% column_names.each do |column| %>
            <td><%= med_certificate.send(column) %></td>
          <% end %>
          <td><%= link_to "Show this med_certificate", med_certificate %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div>
      <% if @page != 0 %>
        <%= link_to "Previous page", med_certificates_path(page: @page - 1), { class: "button" } %>
      <% end %>
      <% @all = MedCertificate.all
         if (@page+1)*10 < @all.length() %>
        <%= link_to "Next page", med_certificates_path(page: @page + 1), { class: "button" } %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "New med_certificate", new_med_certificate_path, { class: "button" } %>