<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<p style="color: lightseagreen"><%= notice %></p>
<div class="content has-text-centered">
  <h1 class="h1">Specializations</h1>
  <title> Specializations </title>
</div>

<div class="container is-widescreen has-text-centered is-center ">

  <% column_names = @specializations.column_names %>
  <div class="table-container is-align-items-center is-align-content-center is-justify-content-center is-centered" id="specializations">
    <table class="table  is-centered">
      <thead>
      <tr>
        <% column_names.each do |column_name| %>
          <td><%= column_name %></td>
        <% end %>
        <td>Action</td>
      </tr>

      </thead>
      <tbody>

      <% @specializations.each do |specialization| %>
        <tr>
          <% column_names.each do |column| %>
            <td><%= specialization.send(column) %></td>
          <% end %>
          <td><%= link_to "Show this specialization", specialization %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "New specialization", new_specialization_path, { class: "button" } %>