<div id="<%= dom_id repartment %>">
  <p>
    <strong>Repartment:</strong>
    <%= repartment.repartment_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= repartment.name %>
  </p>

  <p>
    <strong>Block:</strong>
    <%= repartment.block %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= repartment.clinic_id %>
  </p>

</div>
