<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<p style="color: lightseagreen"><%= notice %></p>
<div class="content has-text-centered">
  <h1 class="h1">Repartments</h1>
  <title> Repartments </title>
</div>

<div class="container is-widescreen has-text-centered is-center ">

  <% column_names = @repartments.column_names %>
  <div class="table-container is-align-items-center is-align-content-center is-justify-content-center is-centered" id="repartments">
    <table class="table  is-centered">
      <thead>
      <tr>
        <% column_names.each do |column_name| %>
          <td><%= column_name %></td>
        <% end %>
        <td>Action</td>
      </tr>

      </thead>
      <tbody>

      <% @repartments.each do |repartment| %>
        <tr>
          <% column_names.each do |column| %>
            <td><%= repartment.send(column) %></td>
          <% end %>
          <td><%= link_to "Show this repartment", repartment %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div>
      <% if @page != 0 %>
        <%= link_to "Previous page", repartments_path(page: @page - 1), { class: "button" } %>
      <% end %>
      <% @all = Repartment.all
         if (@page+1)*10 < @all.length() %>
        <%= link_to "Next page", repartments_path(page: @page + 1), { class: "button" } %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "New repartment", new_repartment_path, { class: "button" } %>