<div id="<%= dom_id pacient %>">
  <p>
    <strong>Pacient:</strong>
    <%= pacient.pacient_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pacient.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pacient.age %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= pacient.diagnosis %>
  </p>

</div>
