<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<p style="color: lightseagreen"><%= notice %></p>
<div class="content has-text-centered">
  <h1 class="h1">Pacients</h1>
  <title> Pacients </title>
</div>

<div class="container is-widescreen has-text-centered is-center ">

  <% column_names = @pacients.column_names %>
  <div class="table-container is-align-items-center is-align-content-center is-justify-content-center is-centered" id="pacients">

    <%= form_with(url: searchByNames_pacients_path, method: :get) do |form| %>
      <%= form.text_field :name, placeholder: "Search by name" %>
      <%= form.submit "Search", class: "button is-primary" %>
    <% end %>

    <table class="table  is-centered">
      <thead>
      <tr>
        <% column_names.each do |column_name| %>
          <td><%= column_name %></td>
        <% end %>
        <td>Number of medcard</td>
        <td>Doctors</td>
        <td>Action</td>
      </tr>

      </thead>
      <tbody>

      <% @pacients.each do |pacient| %>
        <tr>
          <% column_names.each do |column| %>
            <td><%= pacient.send(column) %></td>
          <% end %>
          <td><%= pacient.medcard ? pacient.medcard.id : 'none' %></td>
          <td>
            <% pacient.doctors.each do |doctor| %>
              <%= link_to doctor.name, doctor %>
            <% end %>
          </td>
          <td><%= link_to "Show this pacient", pacient %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div>
      <% if @page != 0 %>
        <%= link_to "Previous page", pacients_path(page: @page - 1), { class: "button" } %>
      <% end %>
      <% @all = Pacient.all
         if (@page+1)*10 < @all.length() %>
        <%= link_to "Next page", pacients_path(page: @page + 1), { class: "button" } %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "New pacient", new_pacient_path, { class: "button" } %>