<div id="<%= dom_id doctor %>">
  <p>
    <strong>Doctor:</strong>
    <%= doctor.doctor_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Experience in years:</strong>
    <%= doctor.experience_in_years %>
  </p>

  <p>
    <strong>Repartment:</strong>
    <%= doctor.repartment_id %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.specialization_id %>
  </p>

</div>
